
.page{
    &__container--contact{
        max-width: 65rem;
        .card__main{
            align-items: center;
           

            p{
                text-align: center;
            }
        }
    }
    
}


h2{
    
    margin: auto;
    margin-top: 10%;
    width: 747px;
    color: #FFFFFF;
}