.ContactPage{
    
    margin: 10rem;
    .card{
        h3{
            color: #ffffff;
            font-family: Archia;
        }
        p{
            color: #ffffff;
            font-family: Archia;
        }
    }
}


h2{
    
    margin: auto;
    margin-top: 10%;
    width: 747px;
    color: #FFFFFF;
}