.page{

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    
    //The code that sizes the contents inside page
    &__container{
        
        max-width: 96rem;
        width: 100%; //this makes smaller boxes with less content still stretch weird 


        &--mainTitle{ //I assume this style my name's position
            height: 45vh;
        }

    }

    h1{
        margin: auto;
        text-align: center;
        font-family: Exodus;
       
    }
    h3{
        color: #FFFFFF;
    }

    //this supercedes the about.scss file I made and I am unsure as to why 
    p{
        color: #FFFFFF;
    }

    //responsize sizing code is all in card so far minus .ringu which is in main.scss

   
       


    
    

}


