.page__container--mainTitle{


h1{
    background-image: url(https://media.giphy.com/media/ToMjGpnj5rVPxdXCT6g/giphy.gif);
    background-size: cover;
    color: rgba(255, 255, 255, 0.872);

    

    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-position: center;
    mix-blend-mode: luminosity;
    
    
     margin: 10px 0;


     @include mini-phone{
        font-size: 60px;
     }

     @include phone{
        font-size: 65px;
     }
}

// img{ //space image
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//     z-index: -5; //this fucked with our linkorbs 

    
//}

h4{
    background-image: url(https://media.giphy.com/media/ToMjGpnj5rVPxdXCT6g/giphy.gif);
    background-size: cover;
    color: rgba(255, 255, 255, 0.872);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-position: center;
    mix-blend-mode: luminosity;

   
}


@include laptop{

  

   
}

@include sideways-blet{

  
}


}

@include tablet{ //for this and any smaller screen size we just place the h4 below the title in the center 

   .page__container--mainTitle{
     
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }


}




//the second one is the one I like most for now 

//https://media.giphy.com/media/5Yooo0mH1LIJQD1Thj/giphy-downsized-large.gif

//https://media.giphy.com/media/ToMjGpnj5rVPxdXCT6g/giphy.gif
