
//this file is a little haunted pls show Arjun


// .page__projectPage {
//   display: flex;
//   height: 100vh;
//   width: 100vw;
//   flex-direction: row;
//   background-color: red;
// }

// .page__projectPage--linkorbsBox{
//   background-color: #FAA916;
 
// }


.linkorb__linkOrbBox{
@include flexCenter;
flex-direction: column;
transition: transform 0.3s ease-out;
&:hover{
  transform: scale(1.09);
}
}


.linkorb{
  background-color: rgba(113, 113, 134, 0.56);
  
  
  //background-color: transparent;
  backdrop-filter: blur(1.5px); //this removes the image for some reason 


  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: none;

  border-radius: 20%;
  height: 10rem;
  width: 10rem;

  
 


  position: relative;
  z-index: 1;

  img{ //space image
    height: 90%;
    width: 90%;
    object-fit: cover;
    z-index: -5; //this fucked with our linkorbs 

    
  }
  
  


  //kinda hacky used a img element inside the button to center it inside the orb 

  .linkorb__favIcon{
    z-index: 1;
  }


  
  
  @include flexCenter;

}


.linkorb__LinkOrbTitle {
  text-align: center;
  
  font-size: 12px;
  font-weight: 100;
  
  
  
 
}




.linkorb{

  @for $i from 1 through 50 {
    &:nth-child(#{$i}):before {
      animation-delay: 1000ms * $i;
    }

  }
  &:before {
    content: '';
    background: linear-gradient(45deg, $ghost-white ,$beau-blue,$rich-black,$dim-grey,$beau-blue );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 40s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  
  
  }
}



@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}





.page{
  
  &__projectCard--card{
    width: 60vh;
    height: 60vh;
    margin: 0;
  }
}
  






//#ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000


$black: #000;
$pink: pink;
$bright-yellow: #FAA916;
$ghost-white: #FFFAFF;
$beau-blue: #AAC7DA;
$rich-black: #000411;
$dim-grey: #6D676E;