@import"./base/media-queries";
@import"./base/color";
@import"./base/mixins";
@import "./base/typography";
@import"./base/reset";
@import"components/card";
@import "./pages/projects";
@import "./pages/main";
@import "./pages/about";
@import "./pages/contact";
@import "./components/space";
@import "./pages/globalPages";
@import "./components/magicButton";





body{
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden;

}

main{
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;

    @include flexCenter;


}

//this holds the site together need help pls 
// img{
//     position: absolute;
//     object-fit: fill;    
//     height: 100%;
//     width: 100%;
// }

.ringu{
    position: absolute;
    animation: rotate 200s linear ;
    object-fit: contain;
    height: 188%;
    width:188%;
    z-index: -1;
    top:65rem;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
  }


