@import"./base/media-queries";
@import"./base/color";
@import"./base/mixins";
@import "./base/typography";
@import"./base/reset";
@import"components/card";
@import "./pages/projects";
@import "./pages/main";
@import "./pages/about";
@import "./pages/contact";
@import "./components/space";
@import "./pages/globalPages";
@import "./components/magicButton";





body{
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden;

}

main{
    height: 100vh;
    position: relative;
    overflow: hidden;
    //width: 100%;

    @include flexCenter;


}

//this holds the site together need help pls 
// img{
//     position: absolute;
//     object-fit: fill;    
//     height: 100%;
//     width: 100%;
// }

.ringu{
    position: absolute;
    animation: rotate 200s linear ;
    object-fit: contain;
    height: 188%;
    width:188%;
    z-index: -1;
    top:60rem;
    animation-iteration-count: infinite;

//responsive sizes 
//bigges first down the line or eat shit lol

    //THEO NOTES styling card is where to be __main dictates size **arjun (why does it do that?)
    

    @include laptop{
        top:60rem;
    }

    @include sideways-blet{
        top: 40rem;
    }

    @include tablet{
        top: 55rem;
    }

    @include phone{
        top: 24rem;
    }

    
}


//Animation logic 
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
  }




