@import"./base/media-queries";
@import"./base/color";
@import"./base/mixins";
@import "./base/typography";
@import"./base/reset";
@import"components/card";
@import "./pages/globalPages";
@import "./pages/main";
@import "./pages/projects";

@import "./pages/about";
@import "./pages/contact";
@import "./components/space";
@import "./components/magicButton";





body{
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden;

}

main{
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;

    @include flexCenter;


}





.ringu {
    --ring-size: 125vh;
    position: absolute;
    object-fit: contain;
    height: var(--ring-size);
    width: var(--ring-size);
    z-index: -1;
    opacity: 0.5;

    img{
        display: block;
        height: 100%;
        width: 100%;
        animation: rotate 100s linear infinite;
    }
    
}


    




//Animation logic 
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
  }




