





.card{
    background-color: #717186E5;
    
    backdrop-filter: blur(40px);

    border-radius: 12px;

    overflow: hidden;

    




    &__image{
        height:38rem;
        img{
            height:100%;
            width:100%;
            object-fit: cover;
        }
    }

    &__main{
        padding: 7.2rem 5.6rem;
        display:flex;
        flex-direction: column;
        gap: 3rem;
        &--min{
            padding-top: 3rem;
        }
       
    }

    &__links{
        list-style-type: none;
        display: flex;
        gap: 3.2rem;
        
        &__links:hover{
            cursor: pointer;
        }

        & li{
            height:4.8rem;
            width:4.8rem;
            border-radius: 50%;
            @include flexCenter;
            background-color: #C4C4C4;

            span{
                @include flexCenter;
            }

          
        }
    }


    //reponsive styling its all here babee

    //essentially the code is copy pasted with different values now. or just leaving stuff out

    @include laptop{

        width: 80rem;

        &__main{
 
            width: 80rem;
           
            
            padding: 2.2rem 5.6rem;
            
            @include flexCenter;
            
        }

        &__image{
           height: 10%;
        }

        
    }

    @include sideways-blet{

        width: 70rem;
       
    &__main{
 
        width: 70rem;


        @include flexCenter;
        
    }
    

    }

    @include tablet{
    
        //still think the way sizing works is strange here **arjun
    width: 70rem;
       
    &__main{
 
        width: 70rem;


        @include flexCenter;
        
    }
    

    }


    @include phone{
        width: 30rem;
        height:40rem;
   
    &__main h3{
        font-size: 30px;
    }
    &__main{

        padding: 1.2rem 1.6rem;
        width: 30rem;
        height:40rem;

        gap: 2rem;

        @include flexCenter;
        
    }
    &__main p{
        font-size: 13px;
        line-height: 20px;
    }

    &__image{
        height: 0rem;
    }
}
    
    

    @include mini-phone{
            width: 30rem;
            height:40rem;
       
        &__main h3{
            font-size: 30px;
        }
        &__main{

            padding: 1.2rem 1.6rem;
            width: 30rem;
            height:40rem;

            gap: 2rem;

            @include flexCenter;
            
        }
        &__main p{
            font-size: 13px;
            line-height: 20px;
        }

        &__image{
            height: 0rem;
        }
    }

    

}


