

.magicButton{
    position: fixed;
    z-index: 100;
    bottom: 4.5rem;
    display: flex;

    background-color: rgba(113, 113, 134, 0.56);
    
    backdrop-filter: blur(40px);

    border-radius: 4px;

    overflow: hidden;

    padding: 0 1.2rem;

    width: 30rem;

    justify-content: center;

    button{
        background: none;
        border: none;
        padding: 10px;
        color: white;
        transition: transform 0.2s ease;
        &:hover{
            transform: scale(1.2);
            
        }
        cursor: pointer;
    }


}