

.magicButton{
    position: fixed;
    z-index: 100;
    bottom: 4.5rem;
    display: flex;

    //background-color: rgba(0,0,0,0); //rgba(113, 113, 134, 0.56);
    
    //backdrop-filter: blur(40px);

    border-radius: 4px;

    //this had to be removed for anim purpose
    //overflow: hidden;

    padding: 3rem;

    justify-content: center;
    align-items: center;

    &__explore{
        position: absolute;
        transition: all 0.25s ease;
       
        h4{
            color: white;
            font-family:Exodus ;
            border-radius: 30%;
            //box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            animation: pulse 2s infinite;
        }
    }
   
    &:hover &__explore{
        transform: translateY(-4rem);
        opacity: 0;

    }

    &__buttons--animated{
        opacity: 0;
        transition: all 0.25s ease;
        
    }
    &:hover &__buttons--animated{
        opacity: 1;
    }
   

    
       

    button{
       
        background: none;
        border: none;
        padding: 8px;
        color: white;
        transition: transform 0.2s ease;
        &:hover{
            transform: scale(1.2);
            
        }
        cursor: pointer;
    }

    


    @keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(225, 225, 225, 0.9);
        }
    
        70% {
            transform: scale(1);
            box-shadow: 10 10 0 10px rgba(225, 255, 225, 0);
        }
    
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 225, 225, 0);
        }
    }




}