

.magicButton{
    --panelHeight : 4rem;
    --panelSpacing : 3rem;
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    max-width: 30rem;
    transition: ease 1s;

    transform: translateY(calc(
        var(--panelHeight) +
        var(--panelSpacing) + 1rem
        ));

        &:hover{
            transform: translateY(0);
            scale: 1.2;
        }
    padding: var(--panelSpacing);








    
    &__explore{
        margin-bottom: var(--panelSpacing);
        transition: ease 1s;
        
        @include flexCenter;
        .preButtonTitle{
            background-color: rgb(255, 255, 255);
            width: 25rem;
            height: 0.7rem;
            border-radius: 20px;
            animation: scrollToDiscover 5s ease-in-out infinite;
        }
    }
    &:hover .magicButton__explore{
        opacity: 0;
        transform: translateY(2rem);
       
    }
   
    
    &__buttons--animated{
        opacity: 0;
        transition: all 0.25s ease;
        
    }
    &:hover &__buttons--animated{
        opacity: 1;
    }

    &__buttons{
        height: 100%;
        width: 100%;
        display: flex;

       @include flexCenter;
        justify-content: space-around;
       
    }
   

    &__panel{
        height: var(--panelHeight);
        background-color: rgba(255, 255, 255, 0.305);
        position: relative;
        border-radius: 5px;
        
        // border-right: solid 3px rgb(255, 255, 255);
        // border-left: solid 3px rgb(255, 255, 255);
        // border-top: solid 6px rgb(255, 255, 255);
        // border-bottom: solid 6px rgb(255, 255, 255);
        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
            position: absolute;
            top : 0;
            left : 0;
            opacity: 0.3;
            pointer-events: none;
            //z-index: -1;
        }
    }

    button{
       
        background: none;
        border: none;
        padding: 8px;
        color: white;
        transition: transform 0.2s ease;
        &:hover{
            transform: scale(1.2);
            
        }
        cursor: pointer;
    }

    


   

    @keyframes scrollToDiscover {
        0% {
            transform: translateY(0rem);
            opacity: 0.3;
        }

        50%{
            transform: translateY(1.5rem);
            opacity: 1.0;
        }
        
        100%{
            transform: translateY(0rem);
            opacity: 0.3;
        }
    }



    //TEST 

    


}